body{
    background-color: plum;
    padding: 150px;
    display: grid;
}

ul{
    display: flex;
    flex-direction: row;
    gap: 100px;
    font-size: x-large;
    text-align: center;
    top: 80px;
}
button{
    padding: 100px;
    border-radius: 60px;
    display: flex;
    border-style: none;
    background-color: plum;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: 0 0 20px;
 
}