body{
    background-color: #391c65;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%239C92AC' fill-opacity='0.63'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
    padding: 150px;
    display: grid;
}

ul{
    display: flex;
    flex-direction: row;
    gap: 100px;
    font-size: x-large;
    text-align: center;
    top: 80px;
}
button{
    padding: 100px;
    border-radius: 60px;
    display: flex;
    border-style: none;
    background-color: plum;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: 0 0 20px;
    
  
   
  
   

}